@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: '#800020';
    --gold: '#FFD700';
    --green: '#013220';
    --light_blue: '#000080';
    --dark_blue: '#261C80';
    --purple: '#714194';
    --yellow: '#CCA278';
    --brown: '#541D01';
    --white: '#EDECE1';
    --black: '0F0F0F';
}


.pageStyle {
    color: "#232129";
    padding: 96;
    fontFamily: "-apple-system, Roboto, sans-serif, serif";
  }
  
.headingOneStyle {
    marginTop: 0;
    marginBottom: 64;
    maxWidth: 320;
}

.normalTextStyle {
    color: var(--black);
  }

  /* global.css */
.banner {
  display: flex;
  justify-content: space-around;
  background-color: #e0e0e0;
  padding: 10px;
}

.banner a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main-content {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  /* background-image: url('../images/background-image.jpg'); /* Adjust the path to your actual image */
  background-repeat: repeat;
  color: #333;
}

.main-content span {
  font-size: 24px;
}
